header {
    margin-top: 0;
	text-align:center;
	font: bold italic 110% serif;
}
footer {
	font: bold italic 110% serif;
	background-color: rgba(244, 236, 248, 0.9);
}
#background {
	background-color: rgb(241, 228, 241);
	color: black;
	font: bold italic 110% serif;
}
#Description {	
	font: bold italic 110% serif;
}
#center1 {
	margin-top: 0;
	text-align:center;
	font: bold italic 110% serif;
}
#center2 {
	margin-top: 0;
	text-align:center;
	font: bold italic 110% serif;
}
#otziv1 {
	background-color: rgba(238, 217, 250, 0.082);
	font: bold italic 110% serif;
}
#otziv2 {
	background-color: rgba(236, 55, 124, 0.9);
	font: bold italic 110% serif;
}
#tovar{
    background: rgb(240, 223, 223);
}
li {
    display: inline-block;
}
#aksiy {
	color: rgba(250, 250, 7, 1);
}
label[for="secondname"] {
    display: none;
}

